header {
    background: linear-gradient(black, skyblue);;  
    text-align: center; 
    padding: 2px;
    height: 70px;
    color: white;
}

#current-temp {
    background: linear-gradient(skyblue, black);
    border: 0;
    color: white;
    align-items: center;
}

input {
    width: 100%;
}

#search-button {
    width: 100%;
    background-color: cornflowerblue;
    margin: 2px 0 0 0;
}

.quick-search-button {
    width: 100%;
    margin: 5px;   
}

.recent-city-btn {
    width: 100%;
    background: rgb(88, 86, 81);
}
